/* DEFAULT = TABLET */
.app {
  min-height: 100vh;

  background: var(--emi-off-white);
  color: var(--emi-dark);

  transition: all 0.2s ease;
}

/* ADMIN MODE */
.app[data-mode="admin"] {
  background: var(--emi-dark);
  color: var(--emi-off-white);
}